<div class="col-md-4 offset-md-4">
    <h1 class="display-4 mt-5 text-center">Logi sisse</h1>
    <form (ngSubmit)="login(loginForm)" #loginForm="ngForm" class="row g-3 mb-4 pb-4">
        
        <div *ngIf="errorMessage" class="mt-5 text-danger">{{errorMessage}}</div>
        
        <div class="form-floating mt-5">
            <input ngModel type="text" name="personCode" class="form-control" placeholder="Isikukood" required>
            <label>Isikukood</label>
        </div>     
        <div class="form-floating">
            <input ngModel type="password" name="password" class="form-control" placeholder="Parool" required>
            <label>Parool</label>
        </div>
        <button [disabled] = "loginForm.invalid" class="btn btn-primary d-grid gap-2 col-6 mx-auto">Logi sisse</button>
        
    </form>
</div>